body{
    background-color:#FA8072;
}

img{
    width: 10%;
}

figure{
    text-align: center;
}

.container{
    width: 80%;
    margin: auto;
}
h1,h2{
    text-align: center;
    font-family: 'Cousine', monospace;
}
p{
    font-family: 'Cutive Mono', monospace;
    font-size: 1.2em;
    text-align: justify;
}

.centro {
    align-items: center;
    text-align: center;
    width: 50%;
    float: left;
}
footer{

    clear: both;
}